{% extends 'base.html' %}

{% block content %}
    <div class="container">
<h1>Event List</h1>
<div class="row">
{% for event in events %}
    <div class="col-3 mx-2">
    <div class="card my-2 " style="width: 18rem;">
  <img src="{{ event.image.url }}" class="card-img-top" alt="..." style="max-height: 250px">
  <div class="card-body">
    <h5 class="card-title">{{ event.title }}</h5>
{#    <p class="card-text"></p>#}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ event.category }}</li>
    <li class="list-group-item">{{ event.start_date }}</li>
    <li class="list-group-item">{{ event.end_date }}</li>
  </ul>
  <div class="card-body">
    <a href="{% url 'event_detail' event.id %}" class="btn btn-secondary">Explore</a>
  </div>
</div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
